body {
  font-family: "Roboto Slab", serif;
  color: white;
  background-color: #68bdca;
}

/* MENU - NAVBAR */
#openmenu {
  font-family: "Amatic SC", cursive;
  font-size: 20pt;
  background-color: #0fa2b9f0;
  border-bottom: solid 2px white;
  border-right: solid 2px white;
  position: fixed;
  padding: 2px;
  width: 10%;
  text-align: center;
  top: 0;
  left: 0;
  transition: width 0.5s;
  z-index: 9998;
}

#openmenu:hover {
  width: 15%;
  transition: width 0.5s;
  cursor: pointer;
  z-index: 9998;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */

.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px !important;
  /* Override the font-size specified earlier (36px) for all navigation links */
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px;
  }
}

/* BACK TO TOP BUTTON*/
#btt {
  position: fixed;
  margin-bottom: 20px;
  margin-right: 20px;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  width: 3.5%;
  transition: margin-bottom 0.6s, opacity 0.6s;
  z-index: 1;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

#btt:hover {
  margin-bottom: 20px;
  opacity: 1;
  transition: margin-bottom 0.6s, opacity 0.6s;
  z-index: 1;
  width: 4.3%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

/* WELCOME */

#welcome {
  font-family: "Amatic SC", cursive;
  color: #fcffff;
  background: url("./assets//20170503_111837.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  padding: 5% 5% 5% 5%;
}

#welcome h1 {
  position: relative;
  top: -8vh;
  font-size: 9rem;
  font-weight: bold;
}

#welcome h3 {
  position: relative;
  top: -10.5vh;
  font-size: 4.5rem;
}

/* ABOUT ME BUTTON */
.glow-on-hover {
  margin-top: 20%;
  width: 120px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 30px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* ABOUT ME SECTION */
#about {
  background-color: #0a3739;
  padding: 5% 5% 5% 5%;
  height: 100vh;
  width: auto;
}
.aboutContainer {
  position: relative;
  top: 8%;
}

#about h1 {
  font-family: "Amatic SC", cursive;
  font-size: 40pt;
  font-weight: bold;
  text-align: left;
}

#about p {
  text-align: left;
  font-size: large;
}

#about #email_address img {
  text-align: left;
  width: 27px;
}

#email_address {
  background-color: #26816e;
  padding: 2% 2% 2% 2%;
  border-radius: 40px;
  transition: box-shadow 0.5s, color 0.8s, background-color 0.5s;
  font-size: large;
}

#portScroll {
  font-size: large;
  background-color: #26816e;
  padding: 2% 2% 2% 2%;
  border-radius: 40px;
  margin-left: 2%;
  transition: box-shadow 0.5s, color 0.8s, background-color 0.5s;
}

#about #portScroll img {
  text-align: left;
  margin-right: 5px;
  width: 30px;
}

#portScroll a,
#portScroll a:hover {
  color: white;
  text-decoration: none;
}

#email_address:hover,
#portScroll:hover {
  box-shadow: 5px 15px 30px #062928;
  background-color: #1a616c;
  transition: box-shadow 0.5s, color 0.8s, background-color 0.5s;
  cursor: pointer;
}

#self img {
  width: 25%;
  position: relative;
  float: right;
  right: 6%;
  border: solid 8px #26816e;
  border-radius: 2000px;
  box-shadow: 5px 15px 30px #062928;
}

#emailIcon {
  position: relative;
  top: -3px;
}

/* PORTFOLIO */

#portfolio {
  position: relative;
  background-color: #68bdca;
  text-decoration: none;
  color: white;
  padding: 3% 3% 3% 3%;
  width: auto;
  height: 100vh;
}

/* main and second portfolio section titles: */
#portfolio h1 {
  font-family: "Severn Sans Serif Font Family";
  font-size: 55pt;
  font-weight: 500;
  text-align: left;
  margin-bottom: -1%;
}

#portfolio h3 {
  font-family: "optima";
  font-size: 18pt;
}

/* Project Slide titles: */
#portfolio h2 {
  font-family: "Severn Sans Serif Font Family";
  font-size: 32pt;
  color: #ff6363;
  margin-bottom: -0.1%;
  margin-top: 2%;
}

#portfolio p {
  font-family: "Severn Sans Serif Font Family";
  font-size: 18pt;
  font-weight: 100;
  color: #484848;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
}

/* portfolio project section */

.content-slide {
  position: relative;
  margin: auto;
  top: -16%;
}

.content-slide img {
  position: relative;
  max-width: 45%;
  max-height: 45%;
  border-radius: 2%;
  top: 2%;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #ff6363 !important;
  right: 45px !important;
}

.fp-controlArrow.fp-prev {
  border-color: transparent #ff6363 transparent transparent !important;
  left: 45px !important;
}

/* Project Link Buttons */

#projBtnsContainer {
  position: relative;
  top: 2%;
}

.buttonLink {
  display: inline-flex;
  min-height: 50px;
  width: 150px;
  border: 2px solid #ffffff;
  margin: 20px 20px 20px 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#projBtnsContainer a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
}

/* Link Button */

#buttonProject {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#buttonProject a {
  position: relative;
  left: 0;
  transition: all 0.35s ease-Out;
}

#dub-arrow {
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: -200px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

#buttonProject img {
  width: 20px;
  height: auto;
}

#buttonProject:hover #dub-arrow {
  left: 0;
}

#buttonProject:hover a {
  left: 150px;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 2.2em;
  }
  #container {
    width: 50%;
  }
}

/* Contact Form */

@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

/* Fish Animations */
@keyframes myfirst {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

.fish {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/fish.png");
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: absolute;
  animation: myfirst 27s;
  -webkit-animation: myfirst 27s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

#fish {
  top: 13%;
}

#fish2 {
  top: 45%;
  animation-delay: 16s;
  -webkit-animation-delay: 16s;
}

#fish3 {
  top: 75%;
  animation-delay: 8s;
  -webkit-animation-delay: 8s;
}

#form {
  height: 100vh;
  background-color: #98d4f3;
  overflow: hidden;
  position: relative;
}

#waterform {
  position: relative;
  top: -7%;
}

#form h1 {
  font-size: 52px;
  padding-left: 4%;
  padding-top: 3%;
}

form {
  margin: 0 auto;
  width: 500px;
  color: white;
  position: relative;
  padding-top: 3%;
}

label,
input,
textarea {
  display: block;
}

input,
textarea {
  width: 500px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-family: "Sniglet", cursive;
  font-size: 1.5em;
  color: #676767;
  box-shadow: 0 5px 15px -5px #00000070;
  background-color: #ffffffbb;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}

input:focus,
textarea:focus {
  background-color: #ffffff;
}

textarea {
  height: 100px;
  resize: none;
  overflow: auto;
}

input[type="submit"] {
  background-color: #f90;
  color: white;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1.29em;
  font-family: inherit;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
input[type="submit"]:hover {
  background-color: #e58f0e;
}

label {
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 20px;
}

.formgroup,
.formgroup-active,
.formgroup-error {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 8.5%;
  transition: background-image 0.7s;
  -webkit-transition: background-image 0.7s;
  -moz-transition: background-image 0.7s;
  -o-transition: background-image 0.7s;
  width: 566px;
  padding-top: 2px;
}

.formgroup {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/pixel.gif");
}

.formgroup-active {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/octo.png");
}

.formgroup-error {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/octo-error.png");
  color: red;
}

/* Social Media Links */

.socialBtnsContainer {
  position: relative;
  top: 5%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.btnSocialLink {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}

.btnSocialLink i {
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}

.btnSocialLink:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.btnSocialLink::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btnSocialLink:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
